@import "../styles/colours";

.button-container {
  display: flex;
  gap: 20px;
  flex-direction: row;
  justify-content: center;
}

.info-component-button-container {
  display: flex;
  gap: 20px;
  flex-direction: row;
  justify-content: center;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: flex-end;
  }
}

.comic-button {
  padding: 10px 20px;
  font-size: 18px;
  color: black;
  cursor: pointer;
  border: solid black;
  border-width: 2px 5px 5px 2px;
  border-radius: 5px;
  background-color: white;

  &:hover {
    font-weight: bold;
  }

  &:active {
    border-width: 4px 2px 2px 4px;
  }

  &.discard {
    background-color: $SBmiddlegray;
  }
}

.default-button {
  padding: 10px 20px;
  font-family: "Menlo", sans-serif;
  font-size: 14px;
  color: black;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 50px;
  background-color: $SBlightgray;

  &:hover {
    font-weight: bold;
  }
}

.question-submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $SBpurple;
  border: 2px solid black;
  border-radius: 50px;
  color: black;
  cursor: pointer;
  font-family: "Menlo", sans-serif;
  font-size: 14px;
  padding: 10px 20px;
  position: absolute;
  bottom: -20px;
  right: -20px;
  z-index: 2;
  width: 140px;

  &:hover {
    font-weight: bold;
  }

  &.correct {
    background-color: $SBgreen;

    &:hover {
      font-weight: normal;
    }
  }

  &.incorrect {
    background-color: $SBred;

    &:hover {
      font-weight: normal;
    }
  }
}
