$SBpurple: #D0CFE7;
$SBdarkpurple: #6B648B;
$SBlogopurple: #605D71;
$SBlogogreen: #ABC89D;
$SBlogocomplementarygreen: #c89dab;
$SBred: #fc8d62;
$SBgreen: #66c2a5;
$SBgray: #F5F5F5;
$SBdarkgray: #B0B0B0;
$SBmiddlegray: #D3D3D3;
