@import '../styles/colours';

.EndPage {
  background-color: $SBpurple;
  color: black;
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

.qrcode {
  max-width: 300px;
  height: auto;

  @media (max-width: 768px) {
    max-width: 100%;
  }
}