@import "../styles/inputs";

.InfoComponent {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;

  .field {
    margin-bottom: 20px;
  }

  .topic {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .topic-paragraph {
    margin-bottom: 20px;
  }

  .sources-paragraph {
    margin-top: 20px;
  }

  .minigame-infobox {
    padding: 10px 20px;
    max-width: 100%;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 10px 10px 10px #999;
  }
}
