.InfoComponent {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;

  .field {
    margin-bottom: 20px;
  }

  .topic {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .topic-paragraph {
    margin-bottom: 20px;
  }

  .sources-paragraph {
    margin-top: 20px;
  }
}